.Rprofile
.Rproj.user
.Rhistory
.RData
.Ruserdata
deanalysis/results/rdata
deanalysis/data
ordinal/results/rdata/*
!ordinal/results/rdata/performdat_degenes.RData
!ordinal/results/rdata/performdat_nodegenes.RData
ordinal/data/simulation
