.Rprofile
.Rproj.user
.Rhistory
.RData
.Ruserdata
deanalysis/results/rdata
!deanalysis/results/rdata/performdat_degenes.RData
!deanalysis/results/rdata/performdat_nodegenes.RData
deanalysis/data

ordinal/results/rdata/*
!ordinal/results/rdata/performdat.RData
ordinal/data/simulation
